<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="180"/>
    <sessionState mode="InProc" timeout="10" cookieless="false"/>
  </system.web>
  <appSettings>
    <add key="Fusion.ExternosWebAdmin" value="http://fusion.cargaplus.com.ar:7400/webservices/movext/ExternosWebAdmin.asmx"/>
    <add key="Luse.WsTransaccional.ExternalSales" value="http://192.168.5.13/WebServices/EXTSALES/ExternalSales.asmx"/>
    <add key="Host" value="mail.cargaplus.com.ar"/>
    <add key="Puerto" value="25"/>
    <add key="MailFrom" value="noreply@cargaplus.com.ar"/>
    <add key="MailTO" value="Sebastian.Bustos@eldar.com.ar"/>
    <add key="UrlRapipago" value="http://200.123.144.198/fase2/"/>
    <add key="HorarioMinimo" value="6"/>
    <add key="HorarioMaximo" value="23"/>
    <!--<add key="PathCertRedBus" value="C:\Sitios\cert\cargaPlusSSL_pass_C4rg4Pl9s.p12"/>
    <add key="ClaveCertRedBus" value="C4rg4Pl9s"/>
    <add key="login" value="cargaplus"/>
    <add key="password" value="C4rg4Pl9s"/>
    <add key="proveedor" value="CARGAPLUS"/>-->
    <!--<add key="UrlRapipago" value="http://200.123.144.198:81/version3/"/> DEsarrollo-->
    <add key="UrlEldar2" value="http://kube.cluster:5001/"/>
    <add key="ConnStringEldar" value="Password=Luse_2010;Persist Security Info=True;User ID=sa;Initial Catalog=Produccion2;Data Source=basedatoscargaplus.cluster"/>
    <add key="RedBus.WsRecargaV2Service" value="https://190.15.195.19/Recargas/webservices/recargaServiceV2"/>
  <add key="CobroExpress.IpwsCobranzaGlobalservice" value="http://servicios12.cobroexpress.com.ar/pwsCobranzaGlobalTest.dll/soap/IpwsCobranzaGlobal"/>
  </appSettings>
</configuration>