<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="180"/>
    <sessionState mode="InProc" timeout ="10" cookieless="false"></sessionState>
  </system.web>
  <appSettings>
    <add key="Fusion.ExternosWebAdmin" value="http://fusion.cargaplus.com.ar:7400/webservices/movext/ExternosWebAdmin.asmx"/>
    <add key="Luse.WsTransaccional.ExternalSales" value="http://192.168.5.8/WebServices/EXTSALES/ExternalSales.asmx"/>
    <add key="Host" value="mail.cargaplus.com.ar"/>
    <add key="Puerto" value="25"/>
    <add key="MailFrom" value="noreply@cashnet.com.ar"/>
    <add key="MailTO" value="Sebastian.Bustos@eldar.com.ar"/>
   <add key="UrlRapipago" value="http://200.123.144.250/version3/"/>
    <add key="ConnStringEldar" value="Password=Luse_2010;Persist Security Info=True;User ID=sa;Initial Catalog=Produccion2;Data Source=192.168.5.2"/>
    
  </appSettings>
</configuration>